@import "tailwindcss";

@layer utilities {
    .font-Guardian {
        font-family: 'Guardian Angle Straight', sans-serif;
    }

    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }

    .poppins-light {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }

    .red-AKred {
        color: #ff0024;
    }

    .hover\:red-AKred:hover {
        color: #ff0024;
    }

    .bg-red-AKred {
        background-color: #ff0024;
    }

    .hover\:bg-red-AKred:hover {
        background-color: #ff0024;
    }

    .animate-fade-in-scale {
        animation: fadeInScale 0.2s ease-out;
    }

    @keyframes fadeInScale {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}

body {
    background-color: #1a1919;
}